include include/*.h
include ShortFrags/scripts/FSsearchd.py
include ShortFrags/scripts/FSsearchc.py
include ShortFrags/scripts/FSsearchs.py
include ShortFrags/scripts/PFMFind.pyw
include ShortFrags/scripts/PFMFsetupdb.py
include ShortFrags/scripts/PFMFsetupix.py
include ShortFrags/data/setup_config/*.xml
include ShortFrags/data/setup_config/*.dtd
include ShortFrags/data/sql-schema/*.sql
include doc/*.tex
include doc/*.pdf
include doc/*.eps
include doc/PFMFind-manual/*.css
include doc/PFMFind-manual/*.html
include doc/PFMFind-manual/*.png
include doc/PFMFind-manual-section/*.css
include doc/PFMFind-manual-section/*.html
include doc/PFMFind-manual-section/*.png
include COPYING
include README
include CREDITS
include TODO
