include include/*.h
include pfmfind/scripts/FSsearchd.py
include pfmfind/scripts/FSsearchc.py
include pfmfind/scripts/FSsearchs.py
include pfmfind/scripts/PFMFind.pyw
include pfmfind/scripts/PFMFsetupdb.py
include pfmfind/scripts/PFMFsetupix.py
include examples/setup_config/*.xml
include examples/setup_config/*.dtd
include doc/*.tex
include doc/*.pdf
include doc/*.eps
include COPYING
include README
include CREDITS
include TODO
